@model FinanceReport.Models.POCO.ExpenseCategory

@{
    ViewBag.Title = "Create Expense Category";
}

<h2>Create Expense Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Expense Category</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label for="inputLabel" class="control-label col-md-2">Expense Category Name</label>
            <div class="col-md-10">
                <input type="text" name="inputText" class="form-control" />
                @Html.ValidationMessageFor(model => model.ExpenseCategoryName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
